Source: pyaccounts
Maintainer: Bohdan Kolvakh <acmpo6ou@gmail.com>
Section: utils
Priority: optional
Build-depends: debhelper (>= 12)
Homepage: https://github.com/acmpo6ou/PyAccounts

Package: pyaccounts
Architecture: amd64
Section: utils
Priority: optional
Depends: python3 (>= 3.8), ${shlibs:Depends}
Homepage: https://github.com/acmpo6ou/PyAccounts
Description: PyAccounts – is a simple accounts database manager.
 You can easily manage your accounts and store them safely in encrypted databases. The interface of PyAccounts is common and easy to use. PyAccounts is completely free and open source project.
