[Desktop Entry]
Version=1.0.0
Type=Application
Name=PyAccounts
Comment=PyAccounts – is a simple accounts database manager.
Exec=pyaccounts
Icon=/usr/share/pixmaps/pyaccounts.svg
Categories=Utility;GTK;
Terminal=false
StartupNotify=true
StartupWMClass=pyaccounts %F
MimeType=application/account-database;
