[Desktop Entry]
Version=1.2.8
Type=Application
Name=PyAccounts
Comment=Simple accounts database manager.
Exec=pyaccounts %F
Icon=/usr/share/pyaccounts/PyAccounts/img/icon.svg
Categories=Utility;GTK;
Terminal=false
StartupNotify=true
MimeType=application/account-database;
